# ==========================================
# Copy this file to ".env" in the root directory
# and fill in your own values.
# Never commit your .env file!
# ==========================================

# Google OAuth 2.0 API keys
OAUTH_CLIENT_ID=your_oauth_client_id
OAUTH_CLIENT_SECRET=your_oauth_client_secret
